# 编译输出
*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe

# 临时文件
*.tmp
*.log
*.bak
*.swp

# Visual Studio 文件
*.vcxproj
*.vcxproj.user
*.sln
*.suo
*.ncb
*.opensdf
*.sdf
*.ipch
*.pdb
*.idb
*.opendb

# CMake 文件
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

/x64
/x86
/Debug
/Release
/Debug_x64
/Release_x64
/Debug_x86
/Release_x86
# 其他
*.DS_Store
